@import "../../variables.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: (var(--color-text));
    z-index: 1;
}

.title{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg,
        var(--color-contrast) 30%,
        var(--color-primary) 50%
        );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.contactBtn {
    position: relative;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 2px 2px black;

    top: 0;
    transition: top ease-in-out 0.2s;
}

.contactBtn:hover {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    top: -5px;  
}

.heroImg {
    width: 50%;
    z-index: 1;
    border-radius: 50%;

    margin: 0px 5px;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0, 10px);
    }
    100%{
        transform: translate(0, -0px);
    }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -100px;
    left: 5vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.45);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    min-height: 350px;
    top: 250px;
    right: -15vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.45);
    filter: blur(80px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }    

    .content {
        align-items: center;
    }
}