:root {
    --color-text: #fff;
    --color-primary: #1c5d99;
    --color-secondary: #639fab;
    --color-dark: #222222;
    --color-bg: #BBCDE5;
    --color-contrast: #00A3C7;

    --font-roboto: "Roboto";
}